{
  "proseWrap": "always",
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^#",
    "",
    "^\\.\\.",
    "",
    "^(?!.*[.]s?css$)[./].*$",
    "",
    ".s?css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderCaseSensitive": false
}
