i.i {
  background-size: contain;
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  flex-shrink: 0;

  /* highlight unknown icons */
  background-color: purple;

  &.gem {
    background-image: url('../gem.svg');
    background-color: unset;
  }

  &.coins {
    background-image: url('../coins.svg');
    background-color: unset;
  }

  &.cards-icon {
    background-image: url('../cards.svg');
    background-color: unset;
  }

  &.energy {
    background-image: url('../energy.svg');
    background-color: unset;
  }

  &.cross {
    background-image: url('../cross.svg');
    background-color: unset;
  }
}
