@import './back-to-basics.css';
@import './cards.css';
@import './daily-gift.css';
@import './images.css';
@import './run.css';
@import './settings.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body.TESTING {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

body {
  background: #f3e9b9;
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 3.5vmin;
}

header {
  z-index: 1;
  background: #f3e9b9;
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;

  text-align: center;
  text-wrap: balance;

  p {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  h1 img {
    height: 1.5em;
    vertical-align: -25%;
  }

  #version {
    position: absolute;
    bottom: 0;
  }

  body:not(.showingSplashScreen) & {
    visibility: hidden;
  }
}

main {
  body.using-fullscreen &:not(:fullscreen),
  body.showingSplashScreen & {
    visibility: hidden;
    position: fixed;
    inset: 0;
    pointer-events: none;
  }
  body:not(.using-fullscreen) & {
    min-height: 100dvh;
    min-width: 100dvw;
  }

  background-color: white;
  perspective: 50vh;
  position: relative;

  * {
    transform-style: preserve-3d;
    transition: opacity 1s ease-in-out;
  }

  & > section {
    &.inactive {
      pointer-events: none;

      &,
      & * {
        animation-play-state: paused !important;
      }
    }
  }

  & #touchToStart {
    position: absolute;
    pointer-events: none;
    inset: 0;

    font-size: 2em;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    --shadow-color: white;

    & > * {
      text-shadow:
        0 0 0.4em var(--shadow-color),
        0 0 0.4em var(--shadow-color),
        0 0 0.4em var(--shadow-color),
        0 0 0.4em var(--shadow-color);
    }

    :empty {
      display: none;
    }

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 1s,
      visibility 1s 1s;

    #backToBasics:not(.inactive) ~ &,
    #mainScreen:not(.inactive) ~ & {
      opacity: 1;
      visibility: visible;
      transition: opacity 1s 0.5s;
    }
  }

  &.no-energy .if-energy,
  &:not(.no-energy) .if-no-energy {
    display: none;
  }
}

#mainScreen {
  position: absolute;
  inset: 0;
  transition: opacity 1s ease-in-out;

  /* don't let the section swallow clicks intended for the run canvas */
  visibility: hidden;
  & > * {
    visibility: visible;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 1s ease-in-out,
      visibility 1s 1s;
  }

  color: black;

  display: grid;
  grid-template:
    'top top' auto
    'l1  r1' auto
    'l2  r2' auto
    'l3  r3' 1fr
    'l4  r4' auto
    'l5  r5' auto
    'bottom bottom' 9em
    / 50% 50%;
}

/* prettier-ignore */
#mainScreen {
  #log                  { grid-area: l2; }
  .topBar               { grid-area: top; }
  .upgradeButtons       { grid-area: bottom; }
  .sectionButtons.left  { grid-area: l5; }
  .sectionButtons.right { grid-area: r5; }
}

#shortMessage {
  font-style: italic;
  text-align: center;
  text-wrap: balance;
  white-space: pre-line;
  animation: pulsateMessage 6s linear 1s infinite;
}

button {
  background: #eeceb2;
  border: solid #aa8a70;
  color: #664422;

  font-size: 1.5em;
  line-height: 1em;

  padding: 0.25em 0.5em;
  border-radius: 1rem;
  border-width: medium;

  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;

  &:active:not(.disabled) {
    box-shadow: 0.1rem 0.1rem 0.5rem inset #0008;
  }

  /* otherwise icons in buttons aren't aligned right */
  & > i.i {
    display: block;
  }
}

.topBar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  min-height: 5em;
  justify-content: space-between;
}

.playStats {
  line-height: 1.5em;
  padding: 0 1em 1em;

  & > .energy {
    display: flex;
    align-items: center;
    white-space: nowrap;

    i.energy {
      white-space: normal;
      font-size: 2em;
    }

    .nextTime:not(:empty)::before {
      content: '\A0';
    }
  }
}

.wallet {
  padding: 0.25em 0.5em;
  border-radius: 1rem;
  min-height: 3em;
  min-width: 16em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: space-evenly;

  & > * {
    text-align: right;
    font-size: 1.2em;
  }
}

.wallet,
#inRunWallet {
  background: #e0e8f0;
  border: solid medium #8090a0;
  color: #664422;
}

#mainWallet {
  display: flex;
  /* 5em for the buttons */
  margin: 0 5em;
  padding: 1em 0;
  min-height: 3em;
  align-items: stretch;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 1s,
    visibility 0s 1s;

  #run.endRun ~ &,
  #mainScreen:not(.inactive) ~ & {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
  }
}

#startBtn {
  margin: 1em 0 2em;
  align-self: center;
}

#log {
  white-space: pre-line;
  font-size: 0.7em;
  font-family: monospace;
  max-height: 15em;
  line-height: 1em;
  overflow: hidden;
  display: flex;
  align-items: end;
}

.sectionButtons.left {
  justify-self: start;

  button {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.sectionButtons.right {
  justify-self: end;

  button {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.sectionButtons {
  .cards,
  .backToBasics {
    padding: 0.5em 0.3em;
    i {
      font-size: 3.5em;
    }
  }
}

.upgradeButtons {
  padding: 1em;

  display: flex;
  flex-direction: row;
  gap: 0.5em;

  button {
    font-size: 1.2em;
  }

  & > * {
    flex: 1 1 0%;

    border-radius: 1rem;
    border-width: medium;

    padding: 0.2em 0.5em;
    text-align: center;

    &.disabled {
      /* filter: grayscale(50%) contrast(50%) brightness(120%); */
      background: #f2dec8;
      color: #aa8a70;

      &.unaffordable > .cost {
        color: red;
      }

      &.max > .cost {
        visibility: hidden;
      }
    }

    .cost.gem ~ .i.cards-icon,
    .cost.card ~ .i.gem {
      display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

#fadeThrough {
  --bg1: #2a0048;
  --bg2: #53008e;
  --bg3: #8700e0;
  background: linear-gradient(30deg, var(--bg1) 0, var(--bg2) 30%, var(--bg2) 70%, var(--bg3) 100%);

  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i.i {
    font-size: 50vmin;
  }

  h2 {
    color: white;
    font-size: 10vmin;
    padding: 0 0.5em 1em;
    text-wrap: balance;
    text-align: center;

    &:empty {
      display: none;
    }
  }

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-in,
    visibility 0.5s step-end;

  &.fading {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
}

.hidden:not(.neverHidden) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;

  &,
  & * {
    animation-play-state: paused !important;
  }

  .hiddenGone &,
  &.hiddenGone {
    display: none;
  }
}

/* prettier-ignore */
@keyframes pulsateMessage {
  from { transform: scale(1); }
  2%   { transform: scale(1.04); }
  4%   { transform: scale(1); }
  6%   { transform: scale(1.04); }
  8%   { transform: scale(1); }
  to   { transform: scale(1); }
}

/* prettier-ignore */
@keyframes pulsateHighlightBlob {
  from { transform: translate(-50%,-50%) scale(1); }
  to   { transform: translate(-50%,-50%) scale(0.8); }
}

/* prettier-ignore */
@keyframes pulsateBackground {
  from { background-color: var(--bg1); }
  to   { background-color: var(--bg2); }
}
