#webglCanvas {
  position: absolute;
  inset: 0;
}

#run {
  position: absolute;
  inset: 0;
  transition: none !important;

  .topBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    pointer-events: none;

    & > * {
      pointer-events: auto;
    }
  }

  #inRunWallet {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5em;
    padding: 0.5em 0.5em 0.5em 1em;

    min-height: 3em;

    border-radius: 1rem;
    border-width: medium;
    text-align: right;
    pointer-events: none;

    transition: opacity 0.2s;
  }

  #runInfo {
    text-align: center;
    align-self: center;
    min-height: 3em;

    /* hide so it doesn't show a bit on transition from end run screen to main screen */
    .inactive &,
    .endRun & {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 1s ease-in-out,
        visibility 1s 1s;
    }
  }

  &.inactive {
    /* we need to be able to click on the canvas */
    pointer-events: auto;

    /* disable the buttons from tab order on main screen */
    button {
      visibility: hidden;
      transition: visibility 1s 1s;
    }

    .topBar {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 1s ease-in-out,
        visibility 1s 1s;
    }
  }
}

#endRunScreen {
  position: absolute;
  inset: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  & > *:not(.topBar) {
    font-size: 1.5em;
  }

  h2 {
    font-size: 2.25em !important;
  }

  .buttons {
    margin-top: 30%;
    padding: 0 1em;
    display: flex;
    gap: 1em;

    button {
      min-width: 4em;
      &.progress {
        background-color: #a2ff44;
        border-color: #60c000;
      }

      &.hidden {
        display: none;
      }
    }
  }

  &:not(.visible) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition:
      opacity 1s ease-in-out,
      visibility 1s 1s;

    &,
    & * {
      animation-play-state: paused !important;
    }
  }

  &:not(.win) .if-win,
  &.win .if-not-win,
  &:not(.gotGems) .if-got-gems {
    display: none;
  }

  .collected {
    display: contents;
  }

  &:not(.has-collected) .collected {
    display: none;
  }
}
