#settings {
  position: absolute;
  inset: 0;

  --bg: #3e6545;
  --theme-color: var(--bg);
  background-color: var(--bg);
  color: white;

  transition: transform 0.5s ease-in-out;
  transform: translateY(0);

  box-shadow: 0 0 20vh 20vh var(--bg);

  &.inactive {
    transform: translateY(-140%);
  }

  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;

  .topBar {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: stretch;
    min-height: 3em;
  }

  h2 {
    flex: 1 1 0%;
    text-align: center;
    align-self: center;
  }

  .visible {
    transform: translateY(0);
  }

  .resetProgressBtn {
    background: #ab0000;
    border-color: #ff0000;
    color: white;
    margin-top: auto;
  }

  .stateJsonWrapper {
    position: relative;
    margin-top: 0.5em;
  }

  .stateActions {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: flex;
    gap: 0.5em;
    z-index: 1;

    button {
      padding: 0.5em;
      background: #2d4a33;
      border-color: #5a8c63;
      color: white;

      font-size: 1em;

      &.copyBtn.copied {
        color: #4caf50;
      }

      &.copied .if-not-copied,
      &:not(.copied) .if-copied {
        display: none;
      }
    }
  }

  .stateJson {
    padding: 0.5em;
    border: solid thin black;
    background: #2d4a33;
    font-size: small;
    overflow: auto;
    max-height: 50vh;
  }

  .state {
    flex-shrink: 1;
  }
}
